.header {
	border-radius: 0px;
	background: rgb(197, 178, 178);
	color: rgb(20, 15, 15);
	text-align: center;
	width: 400px;
	height: 50px;
	max-width: 500px;
	margin: auto;
}

.outer {
	/*format container class*/
	width: 1px;
	margin: auto;
	overflow: visible;
}

.inner {
	margin-left: 20px;
	width: auto;
}

body {
	background-color: lightslategrey;
	color: rgb(255, 255, 0);
}