body {
	background-color: lightslategrey;
}

/*
h1 {
	border-radius: 0px;
	background: red;
	text-align: center;
}
*/

.header {
	border-radius: 0px;
	background: rgb(197, 178, 178);
	background-size: 100px 50px;
	background-position: 100px;
	text-align: center;
}