:root {
	--main-bg-color: #000000;
	--sidebar-bg-color: #333333;

	--main-text-color: #696969;
	--sidebar-text-color: #AAAAAA;
}

main {
	font-size: 40px;
	margin-left: auto;
	margin-top: 20%;
	text-align: center;
	text-shadow: 10px 10px, 20px 20px, 30px 30px, 40px 40px, 50px 50px;
	overflow: visible;
}

body {
	background-color: var(--main-bg-color);
	color: var(--main-text-color);
}