.sidebar {
	background-color: var(--sidebar-bg-color);
	height: 100%;
	left: 0;
	overflow: hidden;
	padding-top: 20px;
	padding-right: 0px;
	position: fixed;
	text-shadow: 3px 0px;
	top: 0;
	width: 160px;
	z-index: 1;
}

.sidebar ul {
	list-style-type: none;
	padding: 10px 0px 6px 0px;
}

.sidebar a {
	color: var(--sidebar-text-color);
	display: block;
	font-size: 25px;
	text-decoration: none;
	text-align: center;
}

.sidebar a:hover {
	background-color: #8f8f8f;
	color: var(--sidebar-bg-color);
}

.sidebar a.active {
	background-color: #8AACC1;
	color: var(--sidebar-bg-color);
}

#heretics{
	margin-top: 50%;
	color: #f44336;
	text-align: center;
}

#heretics img {
	margin-left: auto;
	margin-right: auto;
	clear: both;
}

#secretboy {
	text-shadow: 5px 5px;
}