.header {
	background: #8AACC1;
	color: #2B4570;
	margin: auto;
	margin-right: -8px;
	margin-top: -21px;
	text-align: center;
	width: 100%;
	z-index: 2;
}

.sidebar {
	background-color: #2B3560;
	height: 100%;
	left: 0;
	overflow: hidden;
	padding-top: 20px;
	padding-right: 0px;
	position: fixed;
	top: 0;
	width: 160px;
	z-index: 1;
}

.sidebar ul {
	list-style-type: none;
	padding: 10px 0px 6px 0px;
}

.sidebar a {
	color: #afafb6;
	display: block;
	font-size: 25px;
	text-decoration: none;
	text-align: center;
}

.sidebar a:hover {
	background-color: #848984;
	color: #2B4570;
}

.sidebar a.active {
	background-color: #8AACC1;
	color: #2B4570;
}

@media screen and (max-height: 450px) {
	.sidebar {padding-top: 15px;}
	.sidebar a {font-size: 18px;}
}

.main {
	float: left;
	margin-left: 160px;
	overflow: visible;
}

body {
	background-color: #2B4570;
	color: #afafb6;
}