:root {
	--main-bg-color: #AFAFB6;
	--sidebar-bg-color: #2B4570;

	--main-text-color: #2B4570;
	--sidebar-text-color: #AFAFB6;
}

.main {
	float: left;
	font-size: 17px;
	margin-left: 660px;
	margin-right: 500px;
	text-align: center;
	overflow: visible;
}

.egg p {
	margin-left: 160px;
}

body {
	background-color: var(--main-bg-color);
	color: var(--main-text-color);
}